/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* For  Mobile devices */
@media screen and (max-width: 480px) {
  .HeaderSlider .carousel-item h1{
    font-size: 20px;
    margin-bottom: 15px;
  }

  .HeaderSlider .carousel-item{
    height: 200px;
  }

  .HeaderSlider .carousel-caption{
    margin-bottom: 70px;
  }
  .HeaderSlider .carousel-caption .get-started-btn{
    padding: 5px 20px;
    font-size: 14px;
  }
  .HeaderSlider .carousel-item p{
    font-size: 14px;
    display: none;
  }

     /* Courses */
  .CoursesHeader{
      width: 100% !important;
     }
   .course-header-title{
    font-size: 30px;
   }
   .course-header-brief{
    font-size: 14px;
   }
     .course-item{
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
      overflow: hidden;
    }
    .course-img img{
      width: 100vw;
      margin-bottom: 20px;
    }
     /* Registar */
  .reg-content{
    flex-direction: column;
    text-align: center;
  }
  .register-content{
    width: 100% !important;
  }
  .trust-company{
    display: none;
  }
  }

  /* For iPads, Tablets */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .HeaderSlider .carousel-item h1{
      font-size: 25px;
      margin-bottom: 15px;
    }

    .HeaderSlider .carousel-item{
      height: 300px;
    }

    .HeaderSlider .carousel-caption{
      margin-bottom: 30px;
    }
    .HeaderSlider .carousel-caption .get-started-btn{
      padding: 5px 20px;
      font-size: 14px;
    }
    .HeaderSlider .carousel-item p{
      font-size: 14px;
    }

    /* Courses */
    .CoursesHeader{
      width: 100% !important;
     }
   .course-header-title{
    font-size: 50px;
   }
    .course-item{
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
      overflow: hidden;
    }
    .course-img img{
      width: 100vw;
      margin-bottom: 20px;
    }

     /* Registar */
  .reg-content{
    flex-direction: column;
    text-align: center;
  }
  .register-content{
    width: 100% !important;
  }
  .trust-company{
    display: none;
  }

  }

  /* For Small screens, laptops */
  @media screen and (min-width: 769px) and (max-width: 1024px) {

    h1{
      font-size: 40px;
    }

    .HeaderSlider .carousel-item{
      height: 500px;
    }

    .HeaderSlider .carousel-caption{
      margin-bottom: 80px;
    }

    /* Courses */
    .CoursesHeader{
      width: 100% !important;
     }

    .course-item{
      width: 100%;
      margin: 10px;
  }

  /* Registar */
  .reg-content{
    flex-direction: column;
    text-align: center;
  }
  .register-content{
    width: 100% !important;
  }
  .trust-company{
    display: none;
  }



  }

  /* For Desktops, large screens */
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .course-item{
      width: 100%;
      margin: 10px;
  }
  }

  /* For Extra large screens, TV */
  @media screen and (min-width: 1201px) {
 
  }